<section id="workout-form">
  <div class="form-container">
    <div class="form-content">
      <h1>New Workout</h1>
      <%= render partial: 'form', locals: { workout: @workout } %>
    </div>
  </div>
</section>
