<section id="entry-form">
  <div class="form-container">
    <div class="form-content">
      <h1>Edit Exercise Entry</h1>
      <%= render partial: 'form', locals: {exercise_entry: @exercise_entry} %>
    </div>
  </div>
</section>