#home {
  position: relative;
}

#home .showcase {
  background: url("background2.jpg") no-repeat center center / cover;
  height: 650px;
  /* height: 100vh; */
}

#home .showcase .showcase-content {
  color: var(--light-color);
  float: left;
  width: 50%;
  height: 100%;
  padding: 160px 0 160px 20%;
  display: flex;
  flex-direction: column;
}

#home .showcase .showcase-content h1 {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

#home h1 {
  font-weight: normal;
}

#home .header {
  margin-top: 20%;
}

#home .showcase .showcase-content ul li {
  margin-bottom: 22px;
}

.home-btn {
  width: 140px;
}
