<section id="home">
  <div class="showcase">
    <div class="showcase-content">
    <% if !logged_in? %>
      <h1 class="header">FIT-BUDDY</h1>
    <% else %>
      <h1>Hi, <%= current_user.first_name %>.</h1>
      <ul>
        <li><%= link_to "USER INDEX", users_path, class: "btn home-btn"%></li>
        <li><%= link_to "EXERCISE INDEX", exercises_path, class: "btn home-btn"%></li>
      </ul>
    <% end %>
    </div>
  </div>
</section>
