<h1>Homepage</h1>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <% if logged_in? %>
        <%= link_to "User Index", users_path, class: "btn btn-primary" %>
        <%= link_to "Exercise Index", exercises_path, class: "btn btn-primary" %>
        <%= link_to "Your Profile", user_path(current_user), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
