<div class="container text-center">
    <h1>Fit-Buddy</h1>
    <% if logged_in? %>
      <%= link_to "User Index", users_path, class: "btn btn-primary" %>
      <%= link_to "Exercise Index", exercises_path, class: "btn btn-primary" %>
      <%= link_to "Your Profile", user_path(current_user), class: "btn btn-primary" %>
    <% end %>
</div>
